.main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #F2F4F4;
    
}
.exercise-container {
    margin: 100px 80px;
}
.header {
    display: flex;
    align-items: center;
}
.dumbbell-icon {
    font-size: 40px;
    color: #5d5eef;
    margin-right: 1rem;
}
.header h2 {
     text-transform: uppercase;
     color: #5d5eef;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px;
}
.personal-information {
    background-color: #FBFCFC;
    margin: 50px 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}